/Makefile
/objs/
/tmp/
/.idea/
debian/.debhelper
debian/*.debhelper
debian/*.debhelper.log
debian/debhelper-build-stamp
debian/build-bin
debian/build-src
debian/libnginx-mod-*/
debian/libnginx-mod-*.substvars
debian/nginx
debian/nginx-common
debian/nginx-core
debian/nginx-dev
debian/nginx-doc
debian/nginx-extras
debian/nginx-full
debian/nginx-light
debian/nginx.substvars
debian/nginx-common.substvars
debian/nginx-core.substvars
debian/nginx-dev.substvars
debian/nginx-doc.substvars
debian/nginx-extras.substvars
debian/nginx-full.substvars
debian/nginx-light.substvars
debian/files